.benefits_section_group {
    float: left;
    width: 100%;
    padding: 3em 0em 3em 0em;
}


.ipr_new_design{float: left;
    width: 100%;
    padding: 3em 0em 3em 0em;}
	
	
.patentnew {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857143;
    color: #333333;
    font-size: 13px;
}	
	
	.univ_patent_table{float:left;width:100%;margin-top:2em;}
	
	.vip_details_team_group{float:left;width:100%;}
	
	
	
	
	
	.patentnew th{background-color: #471A72;
color: white;padding: 10px 5px;
border: 1px solid black;
border-collapse: collapse;
font-family: 'Open Sans', sans-serif;
line-height: 1.42857143;

font-size: 13px;}

.patentnew td{border: 1px solid black;padding: 10px 5px;
border-collapse: collapse;text-align:left;
font-family: 'Open Sans', sans-serif;
line-height: 1.42857143;
color: #333333;
font-size: 13px;}
	
	
	
	
	
	
	.ipr_new_getincub{float: left;
    width: 100%;
    padding: 3em 0em 3em 0em;}


.life_science_title h3 {
	color: #471a72;
	font-family: 'Lato', serif;
	font-weight: 700;
	font-size: 44px;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
	letter-spacing: 0;
}


.life_science_title123 {
    float: left;
    width: 100%;
    text-align: center;
}


.life_science_title123 img {
    width: 10%;
}


.corrosion_section_combined {
    float: none;
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}


.corrosion_section {
    float: left;
    width: 100%;
}

.corrosion_section h5{
    margin:10px 0px;
}

.life_science_title123 h3 {
    color: #471a72;
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
    letter-spacing: 0;
}





.tabcontent h4 {
    padding: 10px 0px;
}
.entrepreneur_getinb {
    float: left;
    width: 100%;
}

.entrepreneur_getinb_combined {
    float: none;
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}









.benefit_new{float:left;width:100%;background:white;}
.benefits_section_group h3 {
    color: #471a72;
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 1em;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0;
}
.benefits_combined {
    float: none;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.benefits_card_group {
    float: left;
    width: 100%;
    padding: 2em 0em 0em 0em;
}

.benefits_card_code {
    width: 20%;
    margin: 10px 28px 95px 28px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, .2);
    border-radius: .375rem;
    padding: 1em 0.5em 0rem 0.5rem;
    float: left;
    height: 195px;
    border-bottom: 3px solid #471a72;
    position: relative;
}

.benef_card_text_grp h4 {
    display: none;
}


.benef_logo_size {
    width: 45%;
    border-radius: 50%;
    padding: 1.8em 0.5em;
    position: relative;
    top: -4em;
    background: white;
    box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, .2);
    margin: 0 auto;
}




.benef_card_text_grp {
    float: left;
    width: 100%;
    position: relative;
    top: -4em;
}

.benef_pic {
    width: 95%;
    vertical-align: middle;
}

.benef_list {
    padding: 0;
    margin: 1em 0em;
    border: ;
    height: 90px;
}

.benefits_card_code:hover {
    position: relative;
    top: 1em;cursor:pointer;
}










.benef_list li {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    list-style-type: none;
    font-size: 14px;
    text-transform: capitalize;
    color: gray;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    line-height: 1.5;
}
.benef_pic2 {
    width: 55%;
    vertical-align: middle;
}

.benef_pic3 {
    width: 75%;
    vertical-align: middle;
}
.benef_pic {
    width: 95%;
    vertical-align: middle;
}

#benefits_page_new_name .footer-area {
    float: left;
    width: 100%;
}

.benefits_link {
    font-family: 'Lato', serif;
    display: inline-block;
    text-transform: capitalize;
    width: 50%;
    color: #fff;
    background-color: #471a72;
    padding: 6px 12px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}


/*** centre of excellence page ****/




.centreofexcel_new {
    float: left;
    width: 100%;
    padding: 3em 0em;
}

.centreofexcel_group {
    float: left;
    width: 100%;
    text-align: center;
}

.centreofexcel_group h3 {
    color: #471a72;
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
    letter-spacing: 0;
}

.centerexcel_section {
    float: left;margin-top:2em;
    width: 100%;
}

.centerexcel_section_combined {
    float: none;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.centerexcel_part_group {
    float: left;
    width: 100%;
}

.centerexcel_part1 {
    float: left;
    width: 30%;
    padding: 1em;
    margin: 10px 15px;
    height: 345px;
}

.centerexcel_part1 h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px;
}

.centerexcel_part1 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.7;
    color: #808080;
    margin-top: 0;
    font-size: 13px;
    margin-bottom: 0px;
    text-transform: capitalize;
    padding: 0px 10px;
}

.centerexcel_part1 img {
    width: 40%;
}

.centerexcel_part1 {
    float: left;
    width: 30%;
    padding: 1em;
    margin: 10px 15px;
}



/** life science page **/



.life_science_section {
    float: left;
    width: 100%;
    padding: 3em 0em 1em 0em;
}

.life_science_page{float: left;
    width: 100%;}

.life_science_group {
    float: left;
    width: 100%;
}


.life_science_group h3 {
    color: #471a72;
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
    letter-spacing: 0;
}

.lifescience_pic {
    width: 22%;
    height: 200px;
}


.life_science_combined {
    float: none;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.life_science_content {
    float: left;
    width: 100%;
}

.life_science_content p {
    line-height: 1.7;
    color: #333;text-align:justify;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px;
}

.life_science_list {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 2.5;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.life_science_list li i {
    margin-right: 1em;
}

.thrust_content {
    float: left;
    width: 100%;
    margin-top: 1em;
}

.life_science_title {
    float: left;
    width: 100%;
    text-align: center;
}

.life_science_title img{
   width:10%;
}


.life_science_cta {
    float: left;
    width: 100%;
    text-align: center;
    padding: 25px 0px;
}



.life_science_cta a {
    border: 1px solid #471a72;
    width: 25%;
}


.centreofsmart_new {
    float: left;
    width: 100%;
    padding: 3em 0em;
}


.smartmanufacturer_section {
    float: left;
    width: 100%;
}

.smart_manufact_title {
    float: left;
    width: 100%;
    text-align: center;
}
.smart_manufact_title img {
    width: 10%;
}


.smart_manufact_title h3 {
    color: #471a72;
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
    letter-spacing: 0;
}

.smart_manufact_img_gallery {
    float: left;
    width: 100%;
}

.smart_manu_img_group li {
    display: inline;
    width: 25%;
}

.smart_manu_gallery {
    float: left;
    width: 100%;
}

.smart_manu_gallery .gallery-area.pt-120.pb-120 {
    padding-top: 10px !important;
padding-bottom: 10px !important;
}


.lifescience_gallery{float:left;width:100%;margin-top:2em;}


.refister_agent {
    float: left;
    width: 100%;
}

.register_agent_detail h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #808080;
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.register_agent_detail p a {
    line-height: 0.1;
    color: #777777;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.refister_agent {
    float: left;
    width: 100%;
    padding-top: 2em;
}









.business_list li i {
    margin-right: 10px;
}

.business_sublist {
    padding-left: 2.5em;
    list-style-type: square;
    margin-top: 10px;
}

.business_coach_mentor_profile {
    float: left;
    width: 100%;padding-top:2em;padding-bottom:2em;
}


.business_coach_content_left_cls {
    float: left;
    width: 50%;
    text-align: center;
}

.business_coach_content_right_cls {
    float: right;
    width: 50%;
    text-align: center;
}










.business_coach_title {
    float: left;
    width: 100%;
    text-align: center;
}


.business_coach_content {
    float: left;
    width: 100%;margin-top:2em;
}

.business_coach_content_left {
    float: left;
    width: 100%;
    text-align: center;
}

.business_coach_content_left h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333333;
    font-size: 19px;
    text-align: center;
}


.business_coach_content_left h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #808080;
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.life_science_listup {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 2.5;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.life_science_listup li {
    width: 34%;
    float: left;
    padding: 0.5em 1em;
}



.life_science_listup li i {
    margin-right: 1em;
}


.business_coach_content_left p {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: 'Lato', sans-serif;
    text-align: center;
}


.business_list li {
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 4px 0px;
}


.business_coachment_new p {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    font-family: 'Lato', sans-serif;
    padding: 10px 0px;
}

.business_coachment_new{float: left;
    width: 100%;padding:2em 0em}



.business_coach_img {
    width: 60% !important;
}
.business_graph_sec {
    float: left;padding-bottom:2em;
    width: 100%;text-align:center;
}

.business_coach_section_combined {
    float: none;
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
}


.business_coach_section {
    float: left;padding-top:2em;
    width: 100%;
}

.register_agent_detail {
    float: left;
    width: 35%;
    text-align: center;
}

.register_agent_benefits {
    float: right;
    width: 65%;
    padding: 1em 0em;
}



/*** get incubated page ***/

.getincubated_form_sectionnew{float:left;width:100%;}

.reach_group {
    float: left;
    width: 100%;padding:4em 0em;
}

.reach_group_left {
    float: left;
    width: 50%;
    text-align: center;
}

.reach_group_right {
    float: right;
    width: 50%;
    text-align: left;
}

.reach_group_right p{padding:10px 0px;}

.reach_group_right h3{font-size:24px;}


.incub_third_div {
    float: left;
    width: 100%;padding:10px 0px;
}














.reach_group_right_centered {
    width: 85%;
}

.incub_form_reachus_section {
    float: left;
    width: 100%;padding:1em 0em 2em 0em;
}

.incub_first_div{ float: left;
    width: 100%;padding:10px 0px;}

.incub_first_div1 input {
    display: inline-block;
    
    height: 40px;
    padding: 0 10px;
    margin: 10px 0px 15px 0px;
    font-size: 14px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 95%;
}


.incub_third_div textarea {
    display: inline-block;
    height: 100px;
    padding: 0 10px;
    margin: 10px 0px 15px 0px;
    font-size: 14px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 95%;
}


#myfile {
    font-family: Lato;
}

.submit_ctagetinb {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 30%;
    background: #471a72;
    color: white;
    margin: 0 auto;
}

.submit_ctagetinb:hover{ color: #471a72;border:1px solid #471a72;
	background: white;}


































.incub_first_div1 select {
    display: inline-block;
    
    height: 40px;
    padding: 0 10px;
    margin: 10px 0px 15px 0px;
    font-size: 14px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 95%;
}


.incub_second_div {
    float: left;padding:10px 0px;
    width: 100%;
}

.incub_second_div1 {
    float: left;
    width: 33.3%;
}
.incub_second_div2 {
    float: left;
    width: 33.3%;
}
.incub_second_div3 {
    float: left;
    width: 33.3%;
}

.incub_second_div input {
    display: inline-block;
    
    height: 40px;
    padding: 0 10px;
    margin: 10px 0px 15px 0px;
    font-size: 14px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 95%;
}

.incub_second_div select {
    display: inline-block;
    
    height: 40px;
    padding: 0 10px;
    margin: 10px 0px 15px 0px;
    font-size: 14px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 95%;
}

























.incub_form_section456 {
    float: left;
    width: 100%;
}

.incub_first_div {
    float: left;
    width: 100%;
}

.incub_first_div1 {
    float: left;
    width: 50%;
}

.incub_first_div2 {
    float: right;
    width: 50%;
}





.incub_form_reachus_section h4 {
    font-size: 20px;
    font-weight: 600;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.incub_form_reachus_section h4:hover{color:#471a72;}
.incub_combined_centre_group {
    float: left;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 1em;
}

.incub_combined_centre {
    float: none;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}












/**** responsive code starts****/




@media(max-width:1140px){
	.wrapper{float:none;min-width:100%;}

.benefits_card_code {
    width: 29%;
    margin: 10px 10px;
        margin-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, .2);
    border-radius: .375rem;
    padding: 1em 0.5em 0rem 0.5rem;
    float: left;
    height:250px;
    border-bottom: 3px solid #02ccba;
    position: relative;
    margin-bottom: 5em;
}

.benefits_combined {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}



.life_science_cta a {
    border: 1px solid #471a72;
    width: auto !important;
}


}





















@media(max-width:1024px){
	.wrapper{float:none;min-width:100%;}

.benefits_card_code {
    width: 29%;
    margin: 10px 10px;
        margin-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, .2);
    border-radius: .375rem;
    padding: 1em 0.5em 0rem 0.5rem;
    float: left;
    height:250px;
    border-bottom: 3px solid #02ccba;
    position: relative;
    margin-bottom: 5em;
}

.benefits_combined {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

}















@media(max-width:767px){
	.wrapper{float:none;min-width:100%;}

.benefits_card_code {
    width: 29%;
    margin: 10px 10px;
        margin-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, .2);
    border-radius: .375rem;
    padding: 1em 0.5em 0rem 0.5rem;
    float: left;
    height:250px;
    border-bottom: 3px solid #02ccba;
    position: relative;
    margin-bottom: 5em;
}

.benefits_combined {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

}









@media(max-width:700px){
	.wrapper{float:none;min-width:100%;}


.benefits_card_code {
    width: 44%;
    margin: 10px 10px;
        margin-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, .2);
    border-radius: .375rem;
    padding: 1em 0.5em 0rem 0.5rem;
    float: left;
  height:250px;
    border-bottom: 3px solid #02ccba;
    position: relative;
    margin-bottom: 5em;
}
.benefits_combined {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}


}
















@media(max-width:600px){
	.wrapper{float:none;min-width:100%;}


.benefits_card_code {
    width: 95%;
    margin: 0 auto;
        margin-bottom: 0px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, .2);
    border-radius: .375rem;
    padding: 1em 0.5em 0rem 0.5rem;
    float: none;
    height: auto;
    border-bottom: 3px solid #02ccba;
    position: relative;
    margin-bottom: 5em;
}



.benefits_combined {
    float: none;
    width: 100%;
    max-width: 65%;
    margin: 0 auto;
}
}



















@media(max-width:367px){
	.wrapper{float:none;min-width:100%;}


.benefits_card_code {
    width: 95%;
    margin: 0 auto;
        margin-bottom: 0px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, .2);
    border-radius: .375rem;
    padding: 1em 0.5em 0rem 0.5rem;
    float: none;
    height: auto;
    border-bottom: 3px solid #02ccba;
    position: relative;
    margin-bottom: 5em;
}



.benefits_combined {
    float: none;
    width: 100%;
    max-width: 65%;
    margin: 0 auto;
}
}